# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python environment and virtualenv files
*.env
*.venv

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
